.navDiv {
    width: var(--sideNav-width);
    background-color: #20222A;
    padding-top: 1em;
    position: fixed;
    top: 7vh;
    height: 93vh;
    z-index: 10;
}

.navItem {
    padding: 1em;
    font-size: 1.1em;
    color: white;
    text-align: center;
}

.navElement {
    display: flex;
    align-items: center;
}

.devider {
    border-top: 1px solid lightgray;
    margin: 7px 0;
    opacity: 0.2
}

.navItem:hover {
    cursor: pointer;
    background-color: #1E2027;
}

.navItem:hover .navIcon,
.navItem:hover .navText{
    opacity: 1;
}

.navIcon {
    fill: white;
    opacity: 0.8;
    margin-right: 0.4em;
}
.navText {
    opacity: 0.8;
    letter-spacing: 0.3px;
}

.active {
    background-color: #FF5050;
  }
.active > .navElement > * {
    opacity: 1;
  }
.active:hover{
    background-color: #FF5050;
  }