.navDiv {
    width: var(--sideNav-width);
    background-color: #12344D;
    padding: 3em 0em;
    position: fixed;
    top: 7vh;
    height: 93vh;
    z-index: 10;
}

.navItem {
    padding: 0;
    font-size: 1.1em;
    margin-bottom: 3em;
    color: white;
    text-align: center;
    position: relative
}

@media (max-width: 1000px){
    .navIcon {
        height: 20px;
        width: 20px;
    }
}


.tooltipText{
    visibility: hidden;
    background-color: #12344D;
    font-size: 0.8em;
    padding: 0.2em 0.7em;
    position: absolute;
    left: 100%;
    top: 10%;
    z-index: 10;
    opacity: 0;
    transform: translate(-10px,0px);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.navItem:hover {
    cursor: pointer;
}

.navItem:hover .navIcon{
    opacity: 0.8;
}

.navItem:hover .tooltipText {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.navIcon {
    fill: white;
}