.centerContainer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.responsiveGrid {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    justify-content: center;
    gap: 2.5em;
}

.titleDiv {
    /* margin: 2em 0; */
    padding: 0.7em 0;
}
.topStatsDiv {
    margin-bottom: 3em;
}

.card {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    color: white;
    border-radius: 15px;
    width: 240px;
}
.color1 {
    background-color: #16B1FF;
}
.color2 {
    background-color: #20C98B;
}
.color3 {
    background-color: #56CA00;
}
.color4 {
    background-color: #FF4C51;
}

.chartsTitle {
    margin-bottom: 1.5em;
}
.chartsDiv {
    margin-bottom: 2em;
}

.pieDiv {
    background-color: white;
    border-radius: 10px;
    /* margin: 0 1em; */
    padding: 1em 0;
}

.pieTitle {
    text-align: center;
}


@media (max-width: 1430px) {
    .responsiveGrid {
        grid-template-columns: repeat(2, 240px);
    }
}