.topBarBackground {
    background-color: #EBEFF3;
    border-bottom: 1px solid rgba(120,130,140,.13);
    margin-bottom: 2em;
}

.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0;
}